[Unit]
Description=Gunicorn instance to serve Enthic
After=network.target

[Service]
User=root
Group=www-data

WorkingDirectory=/root/enthic/python/enthic
ExecStart=/bin/gunicorn3 --workers 3 --bind unix:/var/www/enthic/enthic.sock app:application

[Install]
WantedBy=multi-user.target
