{
  "swagger": "2.0",
  "info": {
    "description": "JSON API of French Company Account and Ethical Score",
    "version": "2020.1.1",
    "title": "Swagger French Company Account and Ethical Score",
    "contact": {
      "email": "services@papit.fr"
    },
    "license": {
      "name": "wtfpl",
      "url": "http://www.wtfpl.net/"
    }
  },
  "host": "api.enthic.fr",
  "basePath": "/company",
  "tags": [
    {
      "name": "Enthic",
      "description": "Swagger French Company Account and Ethical Score",
      "externalDocs": {
        "description": "Enthic website",
        "url": "https://enthic.fr/"
      }
    },
    {
      "name": "PapIT",
      "description": "Infogestion et Conseil IT",
      "externalDocs": {
        "description": "PapIT website",
        "url": "https://papit.fr/"
      }
    },
    {
      "name": "Enthic API code documentation",
      "description": "Describe the development process",
      "externalDocs": {
        "description": "API Sphinx documentation",
        "url": "https://api.enthic.fr/documentation/index.html"
      }
    },
    {
      "name": "Wexample Labs",
      "description": "IT Freelance association supporting the project",
      "externalDocs": {
        "description": "Wexample web site",
        "url": "https://wexample.com/"
      }
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/siren/{siren}": {
      "get": {
        "tags": [
          "SIREN"
        ],
        "summary": "Retrieve company information by SIREN.",
        "description": "",
        "operationId": "siren_get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "siren",
            "in": "path",
            "description": "All company SIREN. A 9 numeric characters long number.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, company information is returned in JSON"
          },
          "400": {
            "description": "JSON is returned, contain a error value as error message."
          }
        }
      }
    },
    "/siren/{siren}/{year}": {
      "get": {
        "tags": [
          "SIREN"
        ],
        "summary": "Retrieve company information by SIREN for a given year.",
        "description": "",
        "operationId": "siren_year_get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "siren",
            "in": "path",
            "description": "All company SIREN. A 9 numeric characters long number.",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "path",
            "description": "Year to return, a 4 numeric characters long number (YYYY).",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, company information is returned in JSON"
          },
          "400": {
            "description": "JSON is returned, contain a error value as error message."
          }
        }
      }
    },
    "/denomination/{denomination}": {
      "get": {
        "tags": [
          "Denomination"
        ],
        "summary": "Retrieve company information by company name.",
        "description": "",
        "operationId": "denomination_get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "denomination",
            "in": "path",
            "description": "An official company denomination.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, company information is returned in JSON"
          }
        }
      }
    },
    "/denomination/{denomination}/{year}": {
      "get": {
        "tags": [
          "Denomination"
        ],
        "summary": "Retrieve company information by company name for a given year.",
        "description": "",
        "operationId": "denomination_year_get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "denomination",
            "in": "path",
            "description": "An official company denomination.",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "path",
            "description": "Year to return, a 4 numeric characters long number (YYYY).",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, company information is returned in JSON"
          }
        }
      }
    },
    "/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Minimal search engine, return companies based on SIREN or name.",
        "description": "",
        "operationId": "search_probe_get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Search for companies based on a probe",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "probe": {
                  "type": "string",
                  "example": "Mr Sylvester, The world Company"
                },
                "limit": {
                  "type": "integer",
                  "example": 33
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, JSON is returned."
          },
          "400": {
            "description": "JSON is returned, contain a error value as error message."
          }
        }
      }
    },
    "/ontology": {
      "get": {
        "tags": [
          "Accountability Ontology"
        ],
        "summary": "Return a JSON explaining the french complicated account types and results.",
        "description": "",
        "operationId": "ontology",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation, company information is returned in JSON"
          }
        }
      }
    }
  },
  "definitions": {},
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}