{
  "swagger": "2.0",
  "info": {
    "description": "JSON API of French Company Account and Ethical Score",
    "version": "2020.4.2",
    "title": "Swagger French Company Account and Ethical Score",
    "contact": {
      "email": "services@papit.fr"
    },
    "license": {
      "name": "wtfpl",
      "url": "http://www.wtfpl.net/"
    }
  },
  "host": "api.enthic.fr",
  "basePath": "/company",
  "tags": [
    {
      "name": "Enthic",
      "description": "Swagger French Company Account and Ethical Score",
      "externalDocs": {
        "description": "Enthic website",
        "url": "https://enthic.fr/"
      }
    },
    {
      "name": "PapIT",
      "description": "Infogestion et Conseil IT",
      "externalDocs": {
        "description": "PapIT website",
        "url": "https://papit.fr/"
      }
    },
    {
      "name": "Enthic API code documentation",
      "description": "Describe the development process",
      "externalDocs": {
        "description": "API Sphinx documentation",
        "url": "https://api.enthic.fr/documentation/index.html"
      }
    },
    {
      "name": "Wexample Labs",
      "description": "IT Freelance association supporting the project",
      "externalDocs": {
        "description": "Wexample web site",
        "url": "https://wexample.com/"
      }
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/siren/{siren}": {
      "get": {
        "tags": [
          "SIREN"
        ],
        "summary": "Retrieve all company information by SIREN.",
        "description": "",
        "operationId": "siren_get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "siren",
            "in": "path",
            "description": "All company SIREN. A 9 numeric characters long number.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, company information is returned in JSON"
          },
          "400": {
            "description": "JSON is returned, contain a error value as error message."
          },
          "404": {
            "description": "If no information for the desired SIREN."
          }
        }
      }
    },
    "/siren/{siren}/{year}": {
      "get": {
        "tags": [
          "SIREN"
        ],
        "summary": "Retrieve company information by SIREN for a given year.",
        "description": "",
        "operationId": "siren_year_get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "siren",
            "in": "path",
            "description": "All company SIREN. A 9 numeric characters long number.",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "path",
            "description": "Year to return, a 4 numeric characters long number (YYYY).",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, company information is returned in JSON"
          },
          "400": {
            "description": "JSON is returned, contain a error value as error message."
          },
          "404": {
            "description": "If no information for the desired SIREN."
          }
        }
      }
    },
    "/siren/{siren}/average": {
      "get": {
        "tags": [
          "SIREN"
        ],
        "summary": "Retrieve company yearly average information by SIREN.",
        "description": "",
        "operationId": "siren_average_get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "siren",
            "in": "path",
            "description": "All company SIREN. A 9 numeric characters long number.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, company information is returned in JSON"
          },
          "400": {
            "description": "JSON is returned, contain a error value as error message."
          },
          "404": {
            "description": "If no information for the desired SIREN."
          }
        }
      }
    },
    "/denomination/{denomination}": {
      "get": {
        "tags": [
          "Denomination"
        ],
        "summary": "Retrieve all company information by company name.",
        "description": "",
        "operationId": "denomination_get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "denomination",
            "in": "path",
            "description": "An official company denomination.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, company information is returned in JSON"
          },
          "400": {
            "description": "JSON is returned, contain a error value as error message."
          },
          "404": {
            "description": "If no information for the desired denomination."
          }
        }
      }
    },
    "/denomination/{denomination}/{year}": {
      "get": {
        "tags": [
          "Denomination"
        ],
        "summary": "Retrieve company information by company name for a given year.",
        "description": "",
        "operationId": "denomination_year_get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "denomination",
            "in": "path",
            "description": "An official company denomination.",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "path",
            "description": "Year to return, a 4 numeric characters long number (YYYY).",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, company information is returned in JSON"
          },
          "400": {
            "description": "JSON is returned, contain a error value as error message."
          },
          "404": {
            "description": "If no information for the desired denomination."
          }
        }
      }
    },
    "/denomination/{denomination}/average": {
      "get": {
        "tags": [
          "Denomination"
        ],
        "summary": "Retrieve company yearly average information by company name.",
        "description": "",
        "operationId": "denomination_average_get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "denomination",
            "in": "path",
            "description": "An official company denomination.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, company information is returned in JSON"
          },
          "400": {
            "description": "JSON is returned, contain a error value as error message."
          },
          "404": {
            "description": "If no information for the desired denomination."
          }
        }
      }
    },
    "/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Minimal search engine, return companies based on SIREN or name in a hydra (JSON-LD) Collection.",
        "description": "",
        "operationId": "search_post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "bodyParam",
            "description": "Probe (SIREN or denomination) and limit of results parameters to pass in the body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "probe": {
                  "type": "string",
                  "example": "Mr Sylvester, The world Company"
                },
                "limit": {
                  "type": "integer",
                  "example": 33
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, JSON is returned."
          },
          "400": {
            "description": "JSON is returned, contain a error value as error message."
          }
        }
      }
    },
    "/search/page": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Minimal search engine, return paginated result companies based on SIREN or name in a hydra (JSON-LD) PartialCollection.",
        "description": "",
        "operationId": "search_page_get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "probe",
            "required": false,
            "default": "",
            "type": "string",
            "description": "Probe (SIREN or denomination) to search for."
          },
          {
            "in": "query",
            "name": "ape",
            "required": false,
            "default": "",
            "type": "string",
            "description": "Comma separated list of APE codes for filtering result."
          },
          {
            "in": "query",
            "name": "per_page",
            "required": false,
            "default": 30,
            "type": "integer",
            "description": "Number of results per page."
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "default": 1,
            "type": "integer",
            "description": "Page number."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, JSON is returned."
          },
          "400": {
            "description": "JSON is returned, contain a error value as error message."
          },
          "404": {
            "description": "If page not found."
          }
        }
      }
    },
    "/ontology": {
      "get": {
        "tags": [
          "Accountability Ontology."
        ],
        "summary": "Return a JSON explaining the french complicated account types and results.",
        "description": "",
        "operationId": "ontology",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation, company information is returned in JSON"
          }
        }
      }
    },
    "/ape": {
      "get": {
        "tags": [
          "Ape code known in the data base."
        ],
        "summary": "Return all the known APE in this database.",
        "description": "",
        "operationId": "ape",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation, company information is returned in JSON"
          }
        }
      }
    }
  },
  "definitions": {},
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}
